body {}

.navbar {
  padding: 0 15%;
  position: sticky;
}

.container-fluid {
  padding: 0 0;
}

#new {
  font-family: 'Noto Sans', sans-serif;
  color: white;
  font-size: 2.3rem;
  font-weight: bolder;
  padding-left: 1%;
  padding-right: 1%;
}

li {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 700;
}
.nav-item {
  padding: 1% 0;
}
.nav-link:hover {
  background-color: #ffa400;
}
.collapse {
  padding: .5% 0;
}
.nav-link:hover {
  color: white;
}

#new:hover {
  color: #ffa400;
}

.bttt {
  color: black;
}

.btt {
  margin-top: 1%;
  background-color: #ffa400;
  padding: .5% 6%;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.btt:hover {
  color: #ffa400;
  background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 7rem;
  width: 7rem;
  outline: black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '⇒';
  font-size: 4rem;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '⇐';
  font-size: 4rem;
  color: white;
}

.carousel-caption {
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 15%;
}

h2 {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 3.5rem;
}

em {
  font-size: 1.2rem;
}

.next {
  color: #;
  padding: 5% 0;
  text-align: center;
}
.image{
  width: 15%;
  padding-bottom: 2%;
  border-radius: 10rem;
}

h3 {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffa400;
  padding: 1% 0;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  line-height: 2;
}
