body {}

.navbar {
  background-color: #F1EEf1;
  padding: 0 15%;
  position: fixed;
}

.container-fluid {
  padding: 0 0;
}

#new {
  font-family: 'Noto Sans', sans-serif;
  color: #413F42;
  font-size: 2.3rem;
  font-weight: bolder;
  padding-left: 1%;
  padding-right: 1%;
}

li {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.nav-link {
  font-size: 1.4rem;
  font-weight: 700;
}

.nav-item {
  padding: 1% 0;
}

.nav-link:hover {
  color: #ffa400;
}

.collapse {
  padding: .5% 0;
}

#new:hover {
  color: #ffa400;
}

.bttt {
  color: black;
}

.btt {
  margin-top: 1%;
  background-color: #ffa400;
  padding: .5% 6%;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.btt:hover {
  color: #ffa400;
  background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 7rem;
  width: 7rem;
  outline: black;
  background-image: none;
}

.carousel-control-next-icon:after {
  content: '⇒';
  font-size: 4rem;
  color: white;
}

.carousel-control-prev-icon:after {
  content: '⇐';
  font-size: 4rem;
  color: white;
}

.carousel-caption {
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 15%;
}

h2 {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 3.5rem;
}

em {
  font-size: 1.2rem;
}

.next {
  padding: 5% 0;
  text-align: center;
}

.image {
  width: 15%;
  padding-bottom: 2%;
  border-radius: 10rem;
}

h3 {
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffa400;
  padding: 1% 0;
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  line-height: 2;
}

.next-next {
  background-color: #F1EEf1;
  text-align: center;
  align-items: center;
  padding: 3% 12.5%;
}

.skill {
  margin-top: 1%;
  margin-bottom: 1%;
}

.card-header {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

i {
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-size: 2.2rem;
  color: #ffa400;
}

.mywork {
  text-align: center;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3% ;
  padding-bottom: 3% ;
}
.project {
  width: 50%;
  padding: 5% 0;
}


/* media queries such that we can modify behaviour */
@media (min-width:814px) and (max-width: 1269px ) {

  .carousel-caption {
  margin-bottom: auto;
  }
  .container-fluid {
    margin-top: 3%;
  }
}
@media (max-width:813px) {
  .carousel-caption {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .navbar{
    padding-right: .7%;
  }
}
